{{!-- {{#if this.isTopRoute}}
  <div class="custom-right-sidebar_welcome">
    <h2>{{theme-i18n "top_route_welcome"}}</h2>
    <p>
      {{html-safe (theme-i18n "top_route_description")}}
    </p>
    {{#if (and this.currentUser this.currentUser.can_create_topic)}}
      <DButton
        @class="btn-primary"
        @id="custom-create-topic"
        @action={{action "customCreateTopic"}}
        @label="topic.create"
      />
    {{/if}}
  </div>
  <div class="custom-right-sidebar_recent">
    <SidebarLatestTopics />
  </div>
{{/if}} --}}

{{#if this.isTopRoute}}
  <div class="overflow-hidden rounded-lg bg-gray-100">
    <div class="px-4 py-5 sm:px-5 sm:pt-4 sm:pb-5">
      <h3 class="text-lg font-medium text-gray-700">{{theme-i18n "top_route_welcome"}}</h3>
      <p class="mt-1 text-gray-600">
        {{html-safe (theme-i18n "top_route_description")}}
      </p>
      {{#if (and this.currentUser this.currentUser.can_create_topic)}}
        <DButton
          @class="mt-5 w-full rounded-md bg-gray-200 px-3.5 py-2.5 text-sm font-semibold text-gray-900 hover:bg-gray-300"
          @id="custom-create-topic"
          @action={{action "customCreateTopic"}}
          @label="topic.create"
        />
      {{/if}}
      {{!-- <button type="button" class="mt-5 w-full rounded-md bg-gray-200 px-3.5 py-2.5 text-sm font-semibold text-gray-900 hover:bg-gray-300">New topic</button> --}}
    </div>
  </div>

  <div class="overflow-hidden rounded-lg bg-gray-100">
    <div class="px-4 py-5 sm:px-5 sm:pb-5 sm:pt-4">
      <SidebarLatestTopics />
    </div>
  </div>
{{/if}}